body {
    font-family: "loos-condensed",sans-serif;
    color:rgba(96, 76, 54, 1);
}
.header {
    background-color: rgb(208,213,204);
    width: wv;
}
.footer {
    background-color: rgb(208,213,204);
    width: wv;
}

h2 {
    font-family: "subway-new-york-std",sans-serif;
    font-size: 36px;
    font-weight: 400px;
    line-height: normal;
    text-align: left;
}
.subheadline {
    font-family: "loos-condensed", sans-serif;
    font-size: 18px;
    font-weight: 200;
    line-height: normal;
}
a {
    text-decoration: none;
    color: rgba(96,76,54,1)
}
.smallnav {
    font-family: "loos-condensed", sans-serif;
    font-size: 18px;
    font-weight: 200;
    line-height: normal;

}
.headline {
    font-family: "loos-condensed", sans-serif;
    font-size: 100px;
    font-weight: 700;
    line-height: normal;
}
p2 {
    color: rgb(237,214,235);
    font-family: "loos-condensed", sans-serif;
    font-size: 32px;
}
.qbg {
    background-color: rgb(96,76,54);
    width: 100wv;
}
.horrible-text {
    color: plum;
    background-color: black;
    font-size: 15px;
    text-align: center;
    width: 9rem;
    height: 5rem;
    overflow: auto;
    padding: 8px 16px;
    border: 5px;
    border-style: solid;
    border-color: rgb(172, 248, 172);
    border-radius: 50px;
    margin: 32px;
    font-family: "loos-condensed", sans-serif;

}
.horrible-text:hover {
    cursor:pointer;
    background-color: rgb(188, 212, 188);
}
.horrible-text:active {
    cursor: pointer;
    background-color: pink;
}
a:hover {
    cursor:pointer;
    color:#EDD6EB;
}
.traintracks {
    width: 100vw;
    opacity: 0.50;
}
.deathhog {
    width: 100vw;
    opacity: 0.50;
}
.me {
    width: 500px;
    height: 500px;
}
.stripes {
    width: 100vw;
}
.headbox {
    width: 100vw
}
a:hover {
    cursor: pointer;

}
.paper{
    width: 1500px;
    height: 950px;
}
.horse{
    width: 700px;
    height: 900px;
}
.sticker{
    width: 700px;
    height: 900px;
}
.sunlogo{
    width: 800px;
    height: 700px;
}
.okcomputer{
    width: 1000px;
    height: 800px;
}
.dd{
    width: 1000px;
    height: 800px;
}
.ethel{
    width: 1000px;
    height: 800px;
}
