body {
    font-family: "loos-condensed",sans-serif;
    color:rgba(96, 76, 54, 1);
}
.header {
    /* background-color: rgb(208,213,204); */
    width: 100wv;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 2.5rem;
    align-items: center;
}

h2 {

    font-family: "subway-new-york-std",sans-serif;
    font-size: 36px;
    font-weight: 400px;
    line-height: normal;
    text-align: center;
}
h1{
    font-family: "subway-new-york-std",sans-serif;
    font-size: 36px;
    font-weight: 400px;
    line-height: normal;
    text-align: center;
}
.bottom-aech{
    font-family: "subway-new-york-std",sans-serif;
    font-size: 36px;
    font-weight: 400px;
    line-height: normal;
    text-align: left;
}
.subheadline {
    font-family: "loos-condensed", sans-serif;
    font-size: 18px;
    font-weight: 200;
    line-height: normal;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 25px;
   
}
a {
    text-decoration: none;
    color:rgb(208,213,204);
}
.smallnav {
    font-family: "loos-condensed", sans-serif;
    font-size: 18px;
    font-weight: 200;
    line-height: normal;
    display: flex;
    flex-direction: row;
    background-color:rgb(237,214,235);
    justify-content: center;
    gap: 30px;
    

}
.footer {
    width: wv;
    background-color: rgb(237,214,235);
    color:rgba(96, 76, 54, 1);
}
.headline {
    font-family: "loos-condensed", sans-serif;
    font-size: 100px;
    font-weight: 700;
    line-height: normal;
}
p2 {
    color: rgb(237,214,235);
    font-family: "loos-condensed", sans-serif;
    font-size: 32px;
}
.qbg {
    background-color: rgb(96,76,54);
    width: 100wv;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.horrible-text {
    color: plum;
    background-color: black;
    font-size: 15px;
    text-align: center;
    width: 9rem;
    height: 5rem;
    overflow: auto;
    padding: 8px 16px;
    border: 5px;
    border-style: solid;
    border-color: rgb(172, 248, 172);
    border-radius: 50px;
    margin: 32px;
    font-family: "loos-condensed", sans-serif;

}
.horrible-text:hover {
    cursor:pointer;
    background-color: rgb(188, 212, 188);
}
.horrible-text:active {
    cursor: pointer;
    background-color: pink;
}
a:hover {
    cursor:pointer;
    color:#EDD6EB;
}
.traintracks {
    width: 100vw;
    opacity: 0.50;
}
.deathhog {
    width: 100vw;
    opacity: 0.50;
}
.me {
    width: 500px;
    height: 500px;
}
.stripes {
    width: 1200px;
    height: 400px;
}
.headbox {
    width: 100vw
}
a:hover {
    cursor: pointer;

}
.paperstripe{
    width: 100vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.horse{
    width: 700px;
    height: 900px;
}
.sticker{
    width: 700px;
    height: 900px;
}
.sunlogo{
    width: 800px;
    height: 700px;
}
.okcomputer{
    width: 1000px;
    height: 800px;
}
.dd{
    width: 1000px;
    height: 800px;
}
.ethel{
    width: 1000px;
    height: 800px;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: space-evenly;
    
}
.child{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
@media screen and (min-width:320px) {
    .container{
        display: flex;
        flex-direction: row;
        text-align: center;
        gap: 1.5rem;
    }
}
.hero-message{
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: flex-end;
    background-color: rgba(208,213,204,0.4);
    text-align: center;
}
.hero-background{
    background-image: url('./assets/tracks.jpg');
    background-blend-mode: lighten;
    background-size: 100%;
    width: 100vw;
    opacity: 0.50;
}
.copyright{
    font-family: "loos-condensed", sans-serif;
    font-size: 18px;
    font-weight: 200;
    line-height: normal;
    display: flex;
    flex-direction: row;
    background-color:rgb(237,214,235);
    justify-content: center;
    color:rgba(96, 76, 54, 1);
}
.button{
    color: rgb(237,214,235);
    background-color: rgba(208,213,204,0.4);
    text-align: center;
    border-radius: 3rem;
    width: 100px;
    heigth: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.button:hover{
    cursor: pointer;
    color: rgb(208,213,204);
}